:root {
  --base-font-size: 14px;
  --theme-color: #1a237e;
}

body {
    font-family: 'Open Sans', sans-serif;
}

section.cover .cover-main > h1 {
    font-family: 'Mansalva', cursive;
}

section.cover .cover-main > p:last-child a:last-child:hover {
  color: #fff;
}

.app-name-link > img {
    width: 80px;
}

.cover__footer, .cover__footer-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1a237e;
    color: #fff;
}

.cover__footer-mobile {
    display: none;
}


@media only screen and (max-width: 640px) {
    .cover__footer {
        display: none;
    }
    .cover__footer-mobile {
        display: block;
    }
}